<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <h2>Please Log In</h2>
      <form action="" method="POST">
          <label for="username">Username: </label>
          <input name="username" type="text" />
          <label for="password">Password: </label>
          <input name="password" type="text" />
          <button type="submit">Log In</button>
      </form>
    <a href="/blog/signup">Sign Up</a>
  </body>
</html>