.profile-header-container {
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 8px;
    color: rgb(66, 66, 66);
    column-gap: 8px;
}

.profile-pic {
    height: 100px;
    width: 100px;
}

.profile-user-initials {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px double rgb(250, 158, 20);
    border-radius: 50%;
    font-family: 'Ysabeau SC';
    font-weight: bolder;
    font-size: 54px;
}

.profile-header-name {
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 48px;
}

.profile-friends-btn {
    grid-column: 2 / 3;
    justify-self: center;
    text-decoration: none;
    font-family: 'Ysabeau SC';
    font-size: 24px;
    color: rgb(250, 158, 20);
    margin-top: -12px;
}

.profile-friends-btn:hover {
    text-decoration: underline;
    font-size: 26px;
    cursor: pointer;
}

.profile-bio {
    grid-column: 1 / 3;
    font-family: 'Kanit';
    margin-left: 8px;
}